# Series

In [2]:
import pandas as pd
import numpy as np

In [3]:
x=np.array(['a','b','c','d'])
y={"a":1,"b":2,"c":3,"d":4}

In [5]:
pd.Series(5,index=["a",2,3,4,5],dtype="float")
#pd.Series(y)

a    5.0
2    5.0
3    5.0
4    5.0
5    5.0
dtype: float64

In [10]:
l=pd.Series(['a','b','c','d'],index=[1,2,3,4])
l[1]

'a'


# DataFrame

In [11]:
x=[["india",1],["USA",2],["russia",3]]
y=[1,2,3]
pd.DataFrame(x,columns=["Country","Rank"],index=y)

       Co  Rank
1   india     1
2     USA     2
3  russia     3

In [54]:
val=[{"a":10,"b":20},{"a":30,"b":40,"c":50}]
pd.DataFrame(val,index=["val1","val2"],columns=["a","b","B","c"])

       a   b   B     c
val1  10  20 NaN   NaN
val2  30  40 NaN  50.0

In [13]:
a={"one":pd.Series([1,2,3,4,5],index=[10,20,30,40,50]),"two":pd.Series([7,7,8,9,0],index=[10,20,30,40,50])}
pd.DataFrame(a)

    one  two
10    1    7
20    2    7
30    3    8
40    4    9
50    5    0

In [15]:
x=a["one"]
#y=a["two"]
sum(x)

15

# Adding columns in Dataframe

In [12]:
x={"a":1,"b":2}
y={"c":3}
x["c"]=y["c"]
val=pd.DataFrame(x,index=[1])
val
h={"h":6}
val["h"]=h["h"]
val

   a  b  c  h
1  1  2  3  6

# Deleting columns in Dataframe

In [100]:
x={"name":["salman","darkk"],"from":["india","Earth"]}
y=pd.DataFrame(x)
del y["from"]
y

     name
0  salman
1   darkk

# Row selection

In [53]:
a={"a":pd.Series([1,2,3,4],index=[1,2,3,4]),"b":pd.Series([6,6,7,8],index=[1,2,3,4])}
n=pd.DataFrame(a)
n.iloc[1:2,0]

2    2
Name: a, dtype: int64

In [46]:
n

   a  b
1  1  6
2  2  6
3  3  7
4  4  8

In [139]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df.iloc[2]

one    3.0
two    3.0
Name: c, dtype: float64

In [146]:
a={"name":pd.Series(["salman","darkk","sal","im"],index=[1,2,3,4]),"age":pd.Series([20,12,29,22],index=[1,2,3,4])}
x=pd.DataFrame(a)
x[2:4]

  name  age
3  sal   29
4   im   22

# Adding rows

In [155]:
df1=pd.DataFrame([[1,2],[3,4]],columns=["1st","2nd"],index=[1,2])
df2=pd.DataFrame([[4,5],[7,8]],columns=["3st","4th"],index=[1,2])
x=df1.append(df2,sort=True)
x

   1st  2nd  3st  4th
1  1.0  2.0  NaN  NaN
2  3.0  4.0  NaN  NaN
1  NaN  NaN  4.0  5.0
2  NaN  NaN  7.0  8.0


# Deleting rows

In [56]:
df1=pd.DataFrame([[1,2],[3,4]],columns=["1st","2nd"],index=[1,2])
df1=df1.drop(1)

   1st  2nd
2    3    4

In [57]:
df1

   1st  2nd
1    1    2
2    3    4

# Basic functionality

In [58]:
import pandas as pd

In [5]:
i=pd.read_csv("iris.csv")

In [13]:
i.axes

[RangeIndex(start=0, stop=150, step=1),
 Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
        'species'],
       dtype='object')]

In [14]:
i.empty

False

In [15]:
i.ndim

2

In [16]:
i.values

array([[5.1, 3.5, 1.4, 0.2, 'setosa'],
       [4.9, 3.0, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.3, 0.2, 'setosa'],
       [4.6, 3.1, 1.5, 0.2, 'setosa'],
       [5.0, 3.6, 1.4, 0.2, 'setosa'],
       [5.4, 3.9, 1.7, 0.4, 'setosa'],
       [4.6, 3.4, 1.4, 0.3, 'setosa'],
       [5.0, 3.4, 1.5, 0.2, 'setosa'],
       [4.4, 2.9, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.4, 3.7, 1.5, 0.2, 'setosa'],
       [4.8, 3.4, 1.6, 0.2, 'setosa'],
       [4.8, 3.0, 1.4, 0.1, 'setosa'],
       [4.3, 3.0, 1.1, 0.1, 'setosa'],
       [5.8, 4.0, 1.2, 0.2, 'setosa'],
       [5.7, 4.4, 1.5, 0.4, 'setosa'],
       [5.4, 3.9, 1.3, 0.4, 'setosa'],
       [5.1, 3.5, 1.4, 0.3, 'setosa'],
       [5.7, 3.8, 1.7, 0.3, 'setosa'],
       [5.1, 3.8, 1.5, 0.3, 'setosa'],
       [5.4, 3.4, 1.7, 0.2, 'setosa'],
       [5.1, 3.7, 1.5, 0.4, 'setosa'],
       [4.6, 3.6, 1.0, 0.2, 'setosa'],
       [5.1, 3.3, 1.7, 0.5, 'setosa'],
       [4.8, 3.4, 1.9, 0.2, 'setosa'],
       [5.0, 3.0, 1.6, 0.2, 'setosa'],
       [5.0, 3.4, 1.6, 0.4, 'setosa'],
       [5.2, 3.5, 1.5, 0.2, 'setosa'],
       [5.2, 3.4, 1.4, 0.2, 'setosa'],
       [4.7, 3.2, 1.6, 0.2, 'setosa'],
       [4.8, 3.1, 1.6, 0.2, 'setosa'],
       [5.4, 3.4, 1.5, 0.4, 'setosa'],
       [5.2, 4.1, 1.5, 0.1, 'setosa'],
       [5.5, 4.2, 1.4, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [5.0, 3.2, 1.2, 0.2, 'setosa'],
       [5.5, 3.5, 1.3, 0.2, 'setosa'],
       [4.9, 3.1, 1.5, 0.1, 'setosa'],
       [4.4, 3.0, 1.3, 0.2, 'setosa'],
       [5.1, 3.4, 1.5, 0.2, 'setosa'],
       [5.0, 3.5, 1.3, 0.3, 'setosa'],
       [4.5, 2.3, 1.3, 0.3, 'setosa'],
       [4.4, 3.2, 1.3, 0.2, 'setosa'],
       [5.0, 3.5, 1.6, 0.6, 'setosa'],
       [5.1, 3.8, 1.9, 0.4, 'setosa'],
       [4.8, 3.0, 1.4, 0.3, 'setosa'],
       [5.1, 3.8, 1.6, 0.2, 'setosa'],
       [4.6, 3.2, 1.4, 0.2, 'setosa'],
       [5.3, 3.7, 1.5, 0.2, 'setosa'],
       [5.0, 3.3, 1.4, 0.2, 'setosa'],
       [7.0, 3.2, 4.7, 1.4, 'versicolor'],
       [6.4, 3.2, 4.5, 1.5, 'versicolor'],
       [6.9, 3.1, 4.9, 1.5, 'versicolor'],
       [5.5, 2.3, 4.0, 1.3, 'versicolor'],
       [6.5, 2.8, 4.6, 1.5, 'versicolor'],
       [5.7, 2.8, 4.5, 1.3, 'versicolor'],
       [6.3, 3.3, 4.7, 1.6, 'versicolor'],
       [4.9, 2.4, 3.3, 1.0, 'versicolor'],
       [6.6, 2.9, 4.6, 1.3, 'versicolor'],
       [5.2, 2.7, 3.9, 1.4, 'versicolor'],
       [5.0, 2.0, 3.5, 1.0, 'versicolor'],
       [5.9, 3.0, 4.2, 1.5, 'versicolor'],
       [6.0, 2.2, 4.0, 1.0, 'versicolor'],
       [6.1, 2.9, 4.7, 1.4, 'versicolor'],
       [5.6, 2.9, 3.6, 1.3, 'versicolor'],
       [6.7, 3.1, 4.4, 1.4, 'versicolor'],
       [5.6, 3.0, 4.5, 1.5, 'versicolor'],
       [5.8, 2.7, 4.1, 1.0, 'versicolor'],
       [6.2, 2.2, 4.5, 1.5, 'versicolor'],
       [5.6, 2.5, 3.9, 1.1, 'versicolor'],
       [5.9, 3.2, 4.8, 1.8, 'versicolor'],
       [6.1, 2.8, 4.0, 1.3, 'versicolor'],
       [6.3, 2.5, 4.9, 1.5, 'versicolor'],
       [6.1, 2.8, 4.7, 1.2, 'versicolor'],
       [6.4, 2.9, 4.3, 1.3, 'versicolor'],
       [6.6, 3.0, 4.4, 1.4, 'versicolor'],
       [6.8, 2.8, 4.8, 1.4, 'versicolor'],
       [6.7, 3.0, 5.0, 1.7, 'versicolor'],
       [6.0, 2.9, 4.5, 1.5, 'versicolor'],
       [5.7, 2.6, 3.5, 1.0, 'versicolor'],
       [5.5, 2.4, 3.8, 1.1, 'versicolor'],
       [5.5, 2.4, 3.7, 1.0, 'versicolor'],
       [5.8, 2.7, 3.9, 1.2, 'versicolor'],
       [6.0, 2.7, 5.1, 1.6, 'versicolor'],
       [5.4, 3.0, 4.5, 1.5, 'versicolor'],
       [6.0, 3.4, 4.5, 1.6, 'versicolor'],
       [6.7, 3.1, 4.7, 1.5, 'versicolor'],
       [6.3, 2.3, 4.4, 1.3, 'versicolor'],
       [5.6, 3.0, 4.1, 1.3, 'versicolor'],
       [5.5, 2.5, 4.0, 1.3, 'versicolor'],
       [5.5, 2.6, 4.4, 1.2, 'versicolor'],
       [6.1, 3.0, 4.6, 1.4, 'versicolor'],
       [5.8, 2.6, 4.0, 1.2, 'versicolor'],
       [5.0, 2.3, 3.3, 1.0, 'versicolor'],
       [5.6, 2.7, 4.2, 1.3, 'versicolor'],
       [5.7, 3.0, 4.2, 1.2, 'versicolor'],
       [5.7, 2.9, 4.2, 1.3, 'versicolor'],
       [6.2, 2.9, 4.3, 1.3, 'versicolor'],
       [5.1, 2.5, 3.0, 1.1, 'versicolor'],
       [5.7, 2.8, 4.1, 1.3, 'versicolor'],
       [6.3, 3.3, 6.0, 2.5, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [7.1, 3.0, 5.9, 2.1, 'virginica'],
       [6.3, 2.9, 5.6, 1.8, 'virginica'],
       [6.5, 3.0, 5.8, 2.2, 'virginica'],
       [7.6, 3.0, 6.6, 2.1, 'virginica'],
       [4.9, 2.5, 4.5, 1.7, 'virginica'],
       [7.3, 2.9, 6.3, 1.8, 'virginica'],
       [6.7, 2.5, 5.8, 1.8, 'virginica'],
       [7.2, 3.6, 6.1, 2.5, 'virginica'],
       [6.5, 3.2, 5.1, 2.0, 'virginica'],
       [6.4, 2.7, 5.3, 1.9, 'virginica'],
       [6.8, 3.0, 5.5, 2.1, 'virginica'],
       [5.7, 2.5, 5.0, 2.0, 'virginica'],
       [5.8, 2.8, 5.1, 2.4, 'virginica'],
       [6.4, 3.2, 5.3, 2.3, 'virginica'],
       [6.5, 3.0, 5.5, 1.8, 'virginica'],
       [7.7, 3.8, 6.7, 2.2, 'virginica'],
       [7.7, 2.6, 6.9, 2.3, 'virginica'],
       [6.0, 2.2, 5.0, 1.5, 'virginica'],
       [6.9, 3.2, 5.7, 2.3, 'virginica'],
       [5.6, 2.8, 4.9, 2.0, 'virginica'],
       [7.7, 2.8, 6.7, 2.0, 'virginica'],
       [6.3, 2.7, 4.9, 1.8, 'virginica'],
       [6.7, 3.3, 5.7, 2.1, 'virginica'],
       [7.2, 3.2, 6.0, 1.8, 'virginica'],
       [6.2, 2.8, 4.8, 1.8, 'virginica'],
       [6.1, 3.0, 4.9, 1.8, 'virginica'],
       [6.4, 2.8, 5.6, 2.1, 'virginica'],
       [7.2, 3.0, 5.8, 1.6, 'virginica'],
       [7.4, 2.8, 6.1, 1.9, 'virginica'],
       [7.9, 3.8, 6.4, 2.0, 'virginica'],
       [6.4, 2.8, 5.6, 2.2, 'virginica'],
       [6.3, 2.8, 5.1, 1.5, 'virginica'],
       [6.1, 2.6, 5.6, 1.4, 'virginica'],
       [7.7, 3.0, 6.1, 2.3, 'virginica'],
       [6.3, 3.4, 5.6, 2.4, 'virginica'],
       [6.4, 3.1, 5.5, 1.8, 'virginica'],
       [6.0, 3.0, 4.8, 1.8, 'virginica'],
       [6.9, 3.1, 5.4, 2.1, 'virginica'],
       [6.7, 3.1, 5.6, 2.4, 'virginica'],
       [6.9, 3.1, 5.1, 2.3, 'virginica'],
       [5.8, 2.7, 5.1, 1.9, 'virginica'],
       [6.8, 3.2, 5.9, 2.3, 'virginica'],
       [6.7, 3.3, 5.7, 2.5, 'virginica'],
       [6.7, 3.0, 5.2, 2.3, 'virginica'],
       [6.3, 2.5, 5.0, 1.9, 'virginica'],
       [6.5, 3.0, 5.2, 2.0, 'virginica'],
       [6.2, 3.4, 5.4, 2.3, 'virginica'],
       [5.9, 3.0, 5.1, 1.8, 'virginica']], dtype=object)

In [17]:
i.head(10)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [18]:
i.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [19]:
i.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [22]:
i.shape

(150, 5)

In [6]:
sl=i["sepal_length"]

In [15]:
sl.describe(include=["number"])# OBJECT NUMBER ALL

count    150.000000
mean       5.843333
std        0.828066
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal_length, dtype: float64

In [48]:
%matplotlib inline
import numpy as np

In [59]:
i.apply(np.sum,axis=0)

sepal_length                                                876.5
sepal_width                                                 458.1
petal_length                                                563.8
petal_width                                                 179.8
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [64]:
fiv=i.head(5)

In [68]:
fiv.index+=1

In [69]:
fiv

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [16]:
for val in i.iterrows():# iteritems itertuples
    print(val)

(0, sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object)
(1, sepal_length       4.9
sepal_width          3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object)
(2, sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object)
(3, sepal_length       4.6
sepal_width        3.1
petal_length       1.5
petal_width        0.2
species         setosa
Name: 3, dtype: object)
(4, sepal_length         5
sepal_width        3.6
petal_length       1.4
petal_width        0.2
species         setosa
Name: 4, dtype: object)
(5, sepal_length       5.4
sepal_width        3.9
petal_length       1.7
petal_width        0.4
species         setosa
Name: 5, dtype: object)
(6, sepal_length       4.6
sepal_width        3.4
petal_length       1.4
petal_width        0.3
species         setosa
Name: 6, dtype: object)
(7, sepal_length         5
sepal_width        3.4
petal_length       1.5
petal_width        0.2
species         setosa
Name: 7, dtype: object)
(8, sepal_length       4.4
sepal_width        2.9
petal_length       1.4
petal_width        0.2
species         setosa
Name: 8, dtype: object)
(9, sepal_length       4.9
sepal_width        3.1
petal_length       1.5
petal_width        0.1
species         setosa
Name: 9, dtype: object)
(10, sepal_length       5.4
sepal_width        3.7
petal_length       1.5
petal_width        0.2
species         setosa
Name: 10, dtype: object)
(11, sepal_length       4.8
sepal_width        3.4
petal_length       1.6
petal_width        0.2
species         setosa
Name: 11, dtype: object)
(12, sepal_length       4.8
sepal_width          3
petal_length       1.4
petal_width        0.1
species         setosa
Name: 12, dtype: object)
(13, sepal_length       4.3
sepal_width          3
petal_length       1.1
petal_width        0.1
species         setosa
Name: 13, dtype: object)
(14, sepal_length       5.8
sepal_width          4
petal_length       1.2
petal_width        0.2
species         setosa
Name: 14, dtype: object)
(15, sepal_length       5.7
sepal_width        4.4
petal_length       1.5
petal_width        0.4
species         setosa
Name: 15, dtype: object)
(16, sepal_length       5.4
sepal_width        3.9
petal_length       1.3
petal_width        0.4
species         setosa
Name: 16, dtype: object)
(17, sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.3
species         setosa
Name: 17, dtype: object)
(18, sepal_length       5.7
sepal_width        3.8
petal_length       1.7
petal_width        0.3
species         setosa
Name: 18, dtype: object)
(19, sepal_length       5.1
sepal_width        3.8
petal_length       1.5
petal_width        0.3
species         setosa
Name: 19, dtype: object)
(20, sepal_length       5.4
sepal_width        3.4
petal_length       1.7
petal_width        0.2
species         setosa
Name: 20, dtype: object)
(21, sepal_length       5.1
sepal_width        3.7
petal_length       1.5
petal_width        0.4
species         setosa
Name: 21, dtype: object)
(22, sepal_length       4.6
sepal_width        3.6
petal_length         1
petal_width        0.2
species         setosa
Name: 22, dtype: object)
(23, sepal_length       5.1
sepal_width        3.3
petal_length       1.7
petal_width        0.5
species         setosa
Name: 23, dtype: object)
(24, sepal_length       4.8
sepal_width        3.4
petal_length       1.9
petal_width        0.2
species         setosa
Name: 24, dtype: object)
(25, sepal_length         5
sepal_width          3
petal_length       1.6
petal_width        0.2
species         setosa
Name: 25, dtype: object)
(26, sepal_length         5
sepal_width        3.4
petal_length       1.6
petal_width        0.4
species         setosa
Name: 26, dtype: object)
(27, sepal_length       5.2
sepal_width        3.5
petal_length       1.5
petal_width        0.2
species         setosa
Name: 27, dtype: object)
(28, sepal_length       5.2
sepal_width        3.4
petal_length       1.4
petal_width        0.2
species         setosa
Name: 28, dtype: object)
(29, sepal_length       4.7
sepal_width        3.2
petal_length       1.6
petal_width        0.2
species         setosa
Name: 29, dtype: object)
(30, sepal_length       4.8
sepal_width        3.1
petal_length       1.6
petal_width        0.2
species         setosa
Name: 30, dtype: object)
(31, sepal_length       5.4
sepal_width        3.4
petal_length       1.5
petal_width        0.4
species         setosa
Name: 31, dtype: object)
(32, sepal_length       5.2
sepal_width        4.1
petal_length       1.5
petal_width        0.1
species         setosa
Name: 32, dtype: object)
(33, sepal_length       5.5
sepal_width        4.2
petal_length       1.4
petal_width        0.2
species         setosa
Name: 33, dtype: object)
(34, sepal_length       4.9
sepal_width        3.1
petal_length       1.5
petal_width        0.1
species         setosa
Name: 34, dtype: object)
(35, sepal_length         5
sepal_width        3.2
petal_length       1.2
petal_width        0.2
species         setosa
Name: 35, dtype: object)
(36, sepal_length       5.5
sepal_width        3.5
petal_length       1.3
petal_width        0.2
species         setosa
Name: 36, dtype: object)
(37, sepal_length       4.9
sepal_width        3.1
petal_length       1.5
petal_width        0.1
species         setosa
Name: 37, dtype: object)
(38, sepal_length       4.4
sepal_width          3
petal_length       1.3
petal_width        0.2
species         setosa
Name: 38, dtype: object)
(39, sepal_length       5.1
sepal_width        3.4
petal_length       1.5
petal_width        0.2
species         setosa
Name: 39, dtype: object)
(40, sepal_length         5
sepal_width        3.5
petal_length       1.3
petal_width        0.3
species         setosa
Name: 40, dtype: object)
(41, sepal_length       4.5
sepal_width        2.3
petal_length       1.3
petal_width        0.3
species         setosa
Name: 41, dtype: object)
(42, sepal_length       4.4
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 42, dtype: object)
(43, sepal_length         5
sepal_width        3.5
petal_length       1.6
petal_width        0.6
species         setosa
Name: 43, dtype: object)
(44, sepal_length       5.1
sepal_width        3.8
petal_length       1.9
petal_width        0.4
species         setosa
Name: 44, dtype: object)
(45, sepal_length       4.8
sepal_width          3
petal_length       1.4
petal_width        0.3
species         setosa
Name: 45, dtype: object)
(46, sepal_length       5.1
sepal_width        3.8
petal_length       1.6
petal_width        0.2
species         setosa
Name: 46, dtype: object)
(47, sepal_length       4.6
sepal_width        3.2
petal_length       1.4
petal_width        0.2
species         setosa
Name: 47, dtype: object)
(48, sepal_length       5.3
sepal_width        3.7
petal_length       1.5
petal_width        0.2
species         setosa
Name: 48, dtype: object)
(49, sepal_length         5
sepal_width        3.3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 49, dtype: object)
(50, sepal_length             7
sepal_width            3.2
petal_length           4.7
petal_width            1.4
species         versicolor
Name: 50, dtype: object)
(51, sepal_length           6.4
sepal_width            3.2
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 51, dtype: object)
(52, sepal_length           6.9
sepal_width            3.1
petal_length           4.9
petal_width            1.5
species         versicolor
Name: 52, dtype: object)
(53, sepal_length           5.5
sepal_width            2.3
petal_length             4
petal_width            1.3
species         versicolor
Name: 53, dtype: object)
(54, sepal_length           6.5
sepal_width            2.8
petal_length           4.6
petal_width            1.5
species         versicolor
Name: 54, dtype: object)
(55, sepal_length           5.7
sepal_width            2.8
petal_length           4.5
petal_width            1.3
species         versicolor
Name: 55, dtype: object)
(56, sepal_length           6.3
sepal_width            3.3
petal_length           4.7
petal_width            1.6
species         versicolor
Name: 56, dtype: object)
(57, sepal_length           4.9
sepal_width            2.4
petal_length           3.3
petal_width              1
species         versicolor
Name: 57, dtype: object)
(58, sepal_length           6.6
sepal_width            2.9
petal_length           4.6
petal_width            1.3
species         versicolor
Name: 58, dtype: object)
(59, sepal_length           5.2
sepal_width            2.7
petal_length           3.9
petal_width            1.4
species         versicolor
Name: 59, dtype: object)
(60, sepal_length             5
sepal_width              2
petal_length           3.5
petal_width              1
species         versicolor
Name: 60, dtype: object)
(61, sepal_length           5.9
sepal_width              3
petal_length           4.2
petal_width            1.5
species         versicolor
Name: 61, dtype: object)
(62, sepal_length             6
sepal_width            2.2
petal_length             4
petal_width              1
species         versicolor
Name: 62, dtype: object)
(63, sepal_length           6.1
sepal_width            2.9
petal_length           4.7
petal_width            1.4
species         versicolor
Name: 63, dtype: object)
(64, sepal_length           5.6
sepal_width            2.9
petal_length           3.6
petal_width            1.3
species         versicolor
Name: 64, dtype: object)
(65, sepal_length           6.7
sepal_width            3.1
petal_length           4.4
petal_width            1.4
species         versicolor
Name: 65, dtype: object)
(66, sepal_length           5.6
sepal_width              3
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 66, dtype: object)
(67, sepal_length           5.8
sepal_width            2.7
petal_length           4.1
petal_width              1
species         versicolor
Name: 67, dtype: object)
(68, sepal_length           6.2
sepal_width            2.2
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 68, dtype: object)
(69, sepal_length           5.6
sepal_width            2.5
petal_length           3.9
petal_width            1.1
species         versicolor
Name: 69, dtype: object)
(70, sepal_length           5.9
sepal_width            3.2
petal_length           4.8
petal_width            1.8
species         versicolor
Name: 70, dtype: object)
(71, sepal_length           6.1
sepal_width            2.8
petal_length             4
petal_width            1.3
species         versicolor
Name: 71, dtype: object)
(72, sepal_length           6.3
sepal_width            2.5
petal_length           4.9
petal_width            1.5
species         versicolor
Name: 72, dtype: object)
(73, sepal_length           6.1
sepal_width            2.8
petal_length           4.7
petal_width            1.2
species         versicolor
Name: 73, dtype: object)
(74, sepal_length           6.4
sepal_width            2.9
petal_length           4.3
petal_width            1.3
species         versicolor
Name: 74, dtype: object)
(75, sepal_length           6.6
sepal_width              3
petal_length           4.4
petal_width            1.4
species         versicolor
Name: 75, dtype: object)
(76, sepal_length           6.8
sepal_width            2.8
petal_length           4.8
petal_width            1.4
species         versicolor
Name: 76, dtype: object)
(77, sepal_length           6.7
sepal_width              3
petal_length             5
petal_width            1.7
species         versicolor
Name: 77, dtype: object)
(78, sepal_length             6
sepal_width            2.9
petal_length           4.5
petal_width            1.5
species         versicolor

Name: 78, dtype: object)
(79, sepal_length           5.7
sepal_width            2.6
petal_length           3.5
petal_width              1
species         versicolor
Name: 79, dtype: object)
(80, sepal_length           5.5
sepal_width            2.4
petal_length           3.8
petal_width            1.1
species         versicolor
Name: 80, dtype: object)
(81, sepal_length           5.5
sepal_width            2.4
petal_length           3.7
petal_width              1
species         versicolor
Name: 81, dtype: object)
(82, sepal_length           5.8
sepal_width            2.7
petal_length           3.9
petal_width            1.2
species         versicolor
Name: 82, dtype: object)
(83, sepal_length             6
sepal_width            2.7
petal_length           5.1
petal_width            1.6
species         versicolor
Name: 83, dtype: object)
(84, sepal_length           5.4
sepal_width              3
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 84, dtype: object)
(85, sepal_length             6
sepal_width            3.4
petal_length           4.5
petal_width            1.6
species         versicolor
Name: 85, dtype: object)
(86, sepal_length           6.7
sepal_width            3.1
petal_length           4.7
petal_width            1.5
species         versicolor
Name: 86, dtype: object)
(87, sepal_length           6.3
sepal_width            2.3
petal_length           4.4
petal_width            1.3
species         versicolor
Name: 87, dtype: object)
(88, sepal_length           5.6
sepal_width              3
petal_length           4.1
petal_width            1.3
species         versicolor
Name: 88, dtype: object)
(89, sepal_length           5.5
sepal_width            2.5
petal_length             4
petal_width            1.3
species         versicolor
Name: 89, dtype: object)
(90, sepal_length           5.5
sepal_width            2.6
petal_length           4.4
petal_width            1.2
species         versicolor
Name: 90, dtype: object)
(91, sepal_length           6.1
sepal_width              3
petal_length           4.6
petal_width            1.4
species         versicolor
Name: 91, dtype: object)
(92, sepal_length           5.8
sepal_width            2.6
petal_length             4
petal_width            1.2
species         versicolor
Name: 92, dtype: object)
(93, sepal_length             5
sepal_width            2.3
petal_length           3.3
petal_width              1
species         versicolor
Name: 93, dtype: object)
(94, sepal_length           5.6
sepal_width            2.7
petal_length           4.2
petal_width            1.3
species         versicolor
Name: 94, dtype: object)
(95, sepal_length           5.7
sepal_width              3
petal_length           4.2
petal_width            1.2
species         versicolor
Name: 95, dtype: object)
(96, sepal_length           5.7
sepal_width            2.9
petal_length           4.2
petal_width            1.3
species         versicolor
Name: 96, dtype: object)
(97, sepal_length           6.2
sepal_width            2.9
petal_length           4.3
petal_width            1.3
species         versicolor
Name: 97, dtype: object)
(98, sepal_length           5.1
sepal_width            2.5
petal_length             3
petal_width            1.1
species         versicolor
Name: 98, dtype: object)
(99, sepal_length           5.7
sepal_width            2.8
petal_length           4.1
petal_width            1.3
species         versicolor
Name: 99, dtype: object)
(100, sepal_length          6.3
sepal_width           3.3
petal_length            6
petal_width           2.5
species         virginica
Name: 100, dtype: object)
(101, sepal_length          5.8
sepal_width           2.7
petal_length          5.1
petal_width           1.9
species         virginica
Name: 101, dtype: object)
(102, sepal_length          7.1
sepal_width             3
petal_length          5.9
petal_width           2.1
species         virginica
Name: 102, dtype: object)
(103, sepal_length          6.3
sepal_width           2.9
petal_length          5.6
petal_width           1.8
species         virginica
Name: 103, dtype: object)
(104, sepal_length          6.5
sepal_width             3
petal_length          5.8
petal_width           2.2
species         virginica
Name: 104, dtype: object)
(105, sepal_length          7.6
sepal_width             3
petal_length          6.6
petal_width           2.1
species         virginica
Name: 105, dtype: object)
(106, sepal_length          4.9
sepal_width           2.5
petal_length          4.5
petal_width           1.7
species         virginica
Name: 106, dtype: object)
(107, sepal_length          7.3
sepal_width           2.9
petal_length          6.3
petal_width           1.8
species         virginica
Name: 107, dtype: object)
(108, sepal_length          6.7
sepal_width           2.5
petal_length          5.8
petal_width           1.8
species         virginica
Name: 108, dtype: object)
(109, sepal_length          7.2
sepal_width           3.6
petal_length          6.1
petal_width           2.5
species         virginica
Name: 109, dtype: object)
(110, sepal_length          6.5
sepal_width           3.2
petal_length          5.1
petal_width             2
species         virginica
Name: 110, dtype: object)
(111, sepal_length          6.4
sepal_width           2.7
petal_length          5.3
petal_width           1.9
species         virginica
Name: 111, dtype: object)
(112, sepal_length          6.8
sepal_width             3
petal_length          5.5
petal_width           2.1
species         virginica
Name: 112, dtype: object)
(113, sepal_length          5.7
sepal_width           2.5
petal_length            5
petal_width             2
species         virginica
Name: 113, dtype: object)
(114, sepal_length          5.8
sepal_width           2.8
petal_length          5.1
petal_width           2.4
species         virginica
Name: 114, dtype: object)
(115, sepal_length          6.4
sepal_width           3.2
petal_length          5.3
petal_width           2.3
species         virginica
Name: 115, dtype: object)
(116, sepal_length          6.5
sepal_width             3
petal_length          5.5
petal_width           1.8
species         virginica
Name: 116, dtype: object)
(117, sepal_length          7.7
sepal_width           3.8
petal_length          6.7
petal_width           2.2
species         virginica
Name: 117, dtype: object)
(118, sepal_length          7.7
sepal_width           2.6
petal_length          6.9
petal_width           2.3
species         virginica
Name: 118, dtype: object)
(119, sepal_length            6
sepal_width           2.2
petal_length            5
petal_width           1.5
species         virginica
Name: 119, dtype: object)
(120, sepal_length          6.9
sepal_width           3.2
petal_length          5.7
petal_width           2.3
species         virginica
Name: 120, dtype: object)
(121, sepal_length          5.6
sepal_width           2.8
petal_length          4.9
petal_width             2
species         virginica
Name: 121, dtype: object)
(122, sepal_length          7.7
sepal_width           2.8
petal_length          6.7
petal_width             2
species         virginica
Name: 122, dtype: object)
(123, sepal_length          6.3
sepal_width           2.7
petal_length          4.9
petal_width           1.8
species         virginica
Name: 123, dtype: object)
(124, sepal_length          6.7
sepal_width           3.3
petal_length          5.7
petal_width           2.1
species         virginica
Name: 124, dtype: object)
(125, sepal_length          7.2
sepal_width           3.2
petal_length            6
petal_width           1.8
species         virginica
Name: 125, dtype: object)
(126, sepal_length          6.2
sepal_width           2.8
petal_length          4.8
petal_width           1.8
species         virginica
Name: 126, dtype: object)
(127, sepal_length          6.1
sepal_width             3
petal_length          4.9
petal_width           1.8
species         virginica
Name: 127, dtype: object)
(128, sepal_length          6.4
sepal_width           2.8
petal_length          5.6
petal_width           2.1
species         virginica
Name: 128, dtype: object)
(129, sepal_length          7.2
sepal_width             3
petal_length          5.8
petal_width           1.6
species         virginica
Name: 129, dtype: object)
(130, sepal_length          7.4
sepal_width           2.8
petal_length          6.1
petal_width           1.9
species         virginica
Name: 130, dtype: object)
(131, sepal_length          7.9
sepal_width           3.8
petal_length          6.4
petal_width             2
species         virginica
Name: 131, dtype: object)
(132, sepal_length          6.4
sepal_width           2.8
petal_length          5.6
petal_width           2.2
species         virginica
Name: 132, dtype: object)
(133, sepal_length          6.3
sepal_width           2.8
petal_length          5.1
petal_width           1.5
species         virginica
Name: 133, dtype: object)
(134, sepal_length          6.1
sepal_width           2.6
petal_length          5.6
petal_width           1.4
species         virginica
Name: 134, dtype: object)
(135, sepal_length          7.7
sepal_width             3
petal_length          6.1
petal_width           2.3
species         virginica
Name: 135, dtype: object)
(136, sepal_length          6.3
sepal_width           3.4
petal_length          5.6
petal_width           2.4
species         virginica
Name: 136, dtype: object)
(137, sepal_length          6.4
sepal_width           3.1
petal_length          5.5
petal_width           1.8
species         virginica
Name: 137, dtype: object)
(138, sepal_length            6
sepal_width             3
petal_length          4.8
petal_width           1.8
species         virginica
Name: 138, dtype: object)
(139, sepal_length          6.9
sepal_width           3.1
petal_length          5.4
petal_width           2.1
species         virginica
Name: 139, dtype: object)
(140, sepal_length          6.7
sepal_width           3.1
petal_length          5.6
petal_width           2.4
species         virginica
Name: 140, dtype: object)
(141, sepal_length          6.9
sepal_width           3.1
petal_length          5.1
petal_width           2.3
species         virginica
Name: 141, dtype: object)
(142, sepal_length          5.8
sepal_width           2.7
petal_length          5.1
petal_width           1.9
species         virginica
Name: 142, dtype: object)
(143, sepal_length          6.8
sepal_width           3.2
petal_length          5.9
petal_width           2.3
species         virginica
Name: 143, dtype: object)
(144, sepal_length          6.7
sepal_width           3.3
petal_length          5.7
petal_width           2.5
species         virginica
Name: 144, dtype: object)
(145, sepal_length          6.7
sepal_width             3
petal_length          5.2
petal_width           2.3
species         virginica
Name: 145, dtype: object)
(146, sepal_length          6.3
sepal_width           2.5
petal_length            5
petal_width           1.9
species         virginica
Name: 146, dtype: object)
(147, sepal_length          6.5
sepal_width             3
petal_length          5.2
petal_width             2
species         virginica
Name: 147, dtype: object)
(148, sepal_length          6.2
sepal_width           3.4
petal_length          5.4
petal_width           2.3
species         virginica
Name: 148, dtype: object)
(149, sepal_length          5.9
sepal_width             3
petal_length          5.1
petal_width           1.8
species         virginica
Name: 149, dtype: object)

In [17]:
i.sort_values(by="sepal_length",kind="mergesort") # sort_index

     sepal_length  sepal_width  petal_length  petal_width     species
13            4.3          3.0           1.1          0.1      setosa
8             4.4          2.9           1.4          0.2      setosa
38            4.4          3.0           1.3          0.2      setosa
42            4.4          3.2           1.3          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
3             4.6          3.1           1.5          0.2      setosa
6             4.6          3.4           1.4          0.3      setosa
22            4.6          3.6           1.0          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
24            4.8          3.4           1.9          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
45            4.8          3.0           1.4          0.3      setosa
1             4.9          3.0           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
34            4.9          3.1           1.5          0.1      setosa
37            4.9          3.1           1.5          0.1      setosa
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica
4             5.0          3.6           1.4          0.2      setosa
7             5.0          3.4           1.5          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
35            5.0          3.2           1.2          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
43            5.0          3.5           1.6          0.6      setosa
49            5.0          3.3           1.4          0.2      setosa
..            ...          ...           ...          ...         ...
58            6.6          2.9           4.6          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
65            6.7          3.1           4.4          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
86            6.7          3.1           4.7          1.5  versicolor
108           6.7          2.5           5.8          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
76            6.8          2.8           4.8          1.4  versicolor
112           6.8          3.0           5.5          2.1   virginica
143           6.8          3.2           5.9          2.3   virginica
52            6.9          3.1           4.9          1.5  versicolor
120           6.9          3.2           5.7          2.3   virginica
139           6.9          3.1           5.4          2.1   virginica
141           6.9          3.1           5.1          2.3   virginica
50            7.0          3.2           4.7          1.4  versicolor
102           7.1          3.0           5.9          2.1   virginica
109           7.2          3.6           6.1          2.5   virginica
125           7.2          3.2           6.0          1.8   virginica
129           7.2          3.0           5.8          1.6   virginica
107           7.3          2.9           6.3          1.8   virginica
130           7.4          2.8           6.1          1.9   virginica
105           7.6          3.0           6.6          2.1   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
122           7.7          2.8           6.7          2.0   virginica
135           7.7          3.0           6.1          2.3   virginica
131           7.9          3.8           6.4          2.0   virginica

[150 rows x 5 columns]

# Index

In [28]:
i.loc[0:10,"species"]

0     setosa
1     setosa
2     setosa
3     setosa
4     setosa
5     setosa
6     setosa
7     setosa
8     setosa
9     setosa
10    setosa
Name: species, dtype: object

In [42]:
i.iloc[0:,4]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [51]:
fiv=sl.head(10)
fiv

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
5    5.4
6    4.6
7    5.0
8    4.4
9    4.9
Name: sepal_length, dtype: float64

In [53]:
fiv.pct_change()

0         NaN
1   -0.039216
2   -0.040816
3   -0.021277
4    0.086957
5    0.080000
6   -0.148148
7    0.086957
8   -0.120000
9    0.113636
Name: sepal_length, dtype: float64

In [61]:
sw=i["sepal_width"]

In [62]:
sl.cov(sw)

-0.03926845637583894

In [64]:
sl.rank()

0       37.0
1       19.5
2       10.5
3        7.5
4       27.5
5       49.5
6        7.5
7       27.5
8        3.0
9       19.5
10      49.5
11      14.0
12      14.0
13       1.0
14      77.0
15      69.5
16      49.5
17      37.0
18      69.5
19      37.0
20      49.5
21      37.0
22       7.5
23      37.0
24      14.0
25      27.5
26      27.5
27      43.5
28      43.5
29      10.5
       ...
120    135.5
121     62.5
122    147.5
123    104.0
124    126.5
125    141.0
126     97.5
127     92.5
128    112.0
129    141.0
130    144.0
131    150.0
132    112.0
133    104.0
134     92.5
135    147.5
136    104.0
137    112.0
138     86.5
139    135.5
140    126.5
141    135.5
142     77.0
143    132.0
144    126.5
145    126.5
146    104.0
147    118.0
148     97.5
149     82.0
Name: sepal_length, Length: 150, dtype: float64

In [23]:
x={"val1":pd.Series([21,2,None,22,2,3],index=[1,2,3,4,5,6])}
x=pd.DataFrame(x)
#x.fillna(0)
x.fillna(method='backfill')#pad

   val1
1  21.0
2   2.0
3  22.0
4  22.0
5   2.0
6   3.0

In [95]:
x.dropna()

   val1
1  21.0
2   2.0
4  22.0
5   2.0
6   3.0

In [99]:
i.groupby("species").groups

{'setosa': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
             34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
            dtype='int64'),
 'versicolor': Int64Index([50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66,
             67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83,
             84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
            dtype='int64'),
 'virginica': Int64Index([100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112,
             113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125,
             126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
             139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149],
            dtype='int64')}

In [61]:
z=i.groupby("species")
z.get_group("setosa")

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa


# merge join concat

In [60]:
df1=pd.DataFrame({"name":["salman","darkk"],"no":[1,2],"val":[2,3]})
df2=pd.DataFrame({"name":["salman","darkk"],"no":[3,4],"val":[4,5]})
m=pd.merge(df1,df2,on="name")

In [61]:
m

     name  no_x  val_x  no_y  val_y
0  salman     1      2     3      4
1   darkk     2      3     4      5

In [62]:
df1=pd.DataFrame({"name":["salman","darkk"]},index=[1,2])
df2=pd.DataFrame({"just":["salman","darkk"]},index=[1,3])
df1.join(df2)

     name    just
1  salman  salman
2   darkk     NaN

In [3]:
df1=pd.DataFrame({"name":["salman","darkk"]},index=[1,2])
df2=pd.DataFrame({"just":["salman","darkk"]},index=[1,2])
pd.concat([df1,df2],sort=True)

     just    name
1     NaN  salman
2     NaN   darkk
1  salman     NaN
2   darkk     NaN

In [50]:
i.index+=1

In [51]:
i

     sepal_length  sepal_width  petal_length  petal_width    species
1             5.1          3.5           1.4          0.2     setosa
2             4.9          3.0           1.4          0.2     setosa
3             4.7          3.2           1.3          0.2     setosa
4             4.6          3.1           1.5          0.2     setosa
5             5.0          3.6           1.4          0.2     setosa
6             5.4          3.9           1.7          0.4     setosa
7             4.6          3.4           1.4          0.3     setosa
8             5.0          3.4           1.5          0.2     setosa
9             4.4          2.9           1.4          0.2     setosa
10            4.9          3.1           1.5          0.1     setosa
11            5.4          3.7           1.5          0.2     setosa
12            4.8          3.4           1.6          0.2     setosa
13            4.8          3.0           1.4          0.1     setosa
14            4.3          3.0           1.1          0.1     setosa
15            5.8          4.0           1.2          0.2     setosa
16            5.7          4.4           1.5          0.4     setosa
17            5.4          3.9           1.3          0.4     setosa
18            5.1          3.5           1.4          0.3     setosa
19            5.7          3.8           1.7          0.3     setosa
20            5.1          3.8           1.5          0.3     setosa
21            5.4          3.4           1.7          0.2     setosa
22            5.1          3.7           1.5          0.4     setosa
23            4.6          3.6           1.0          0.2     setosa
24            5.1          3.3           1.7          0.5     setosa
25            4.8          3.4           1.9          0.2     setosa
26            5.0          3.0           1.6          0.2     setosa
27            5.0          3.4           1.6          0.4     setosa
28            5.2          3.5           1.5          0.2     setosa
29            5.2          3.4           1.4          0.2     setosa
30            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
121           6.9          3.2           5.7          2.3  virginica
122           5.6          2.8           4.9          2.0  virginica
123           7.7          2.8           6.7          2.0  virginica
124           6.3          2.7           4.9          1.8  virginica
125           6.7          3.3           5.7          2.1  virginica
126           7.2          3.2           6.0          1.8  virginica
127           6.2          2.8           4.8          1.8  virginica
128           6.1          3.0           4.9          1.8  virginica
129           6.4          2.8           5.6          2.1  virginica
130           7.2          3.0           5.8          1.6  virginica
131           7.4          2.8           6.1          1.9  virginica
132           7.9          3.8           6.4          2.0  virginica
133           6.4          2.8           5.6          2.2  virginica
134           6.3          2.8           5.1          1.5  virginica
135           6.1          2.6           5.6          1.4  virginica
136           7.7          3.0           6.1          2.3  virginica
137           6.3          3.4           5.6          2.4  virginica
138           6.4          3.1           5.5          1.8  virginica
139           6.0          3.0           4.8          1.8  virginica
140           6.9          3.1           5.4          2.1  virginica
141           6.7          3.1           5.6          2.4  virginica
142           6.9          3.1           5.1          2.3  virginica
143           5.8          2.7           5.1          1.9  virginica
144           6.8          3.2           5.9          2.3  virginica
145           6.7          3.3           5.7          2.5  virginica
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]